* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


body {
  overflow-x: hidden;
  background: url('http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/noisy_net.png') repeat;
  margin: 0;
  padding: 0;

}

/* Estilos del botón hamburguesa */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  z-index: 1001;

}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;


}
.nav-link-wrapper a {
  text-decoration: none !important; /* 👈 esto lo fuerza */
  color: white;
}



/* Menú normal en escritorio */
.nav-links {
  display: flex;
  gap: 20px;
  text-decoration: none;
  color: white;
  
}




/* Responsive  de la narra de navegacion */
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
    position: absolute;
    right: 20px;
    top: 20px;

  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 10px;
    background-color: #333;
    padding: 15px;
    border-radius: 8px;
    z-index: 999;

  }

  .nav-links.show {
    display: flex;

  }

  .nav-link-wrapper a {
    color: white;
    padding: 10px 0;
    display: block;
    text-decoration: none;
  }

  .right-side h1 {
    font-size: 20px;
  }

  .logo-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 10px 20px;
  background-color: #33595e;
  text-decoration: none;
 
}

.logo-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.left-side img {
  max-height: 80px; /* Ajusta según el tamaño de tu logo */
  width: auto;
}

.right-side {
  margin-left: 15px; /* Espacio entre el logo y el texto */
}

.right-side h1 {
  margin: 0;
  font-size: 24px;
  color: white; /* Color del texto que contrasta con el fondo oscuro */
  margin-top: 10px;
  font-weight: normal;
}

.right-side p {
  margin: 5px 0 0 0;
  font-size: 14px;
  color: #cccccc; /* Color más claro para el texto secundario */
}



header .left-side a img {
  width: 100px;
  margin: auto;
  display: block;
  max-width: 100%;
  mix-blend-mode: multiply; /* nueva etiqueta desbloqueada - quita bordes */
}



header .right-side {
  display: flex;
}



header .right-side .nav-link-wrapper {
  margin-left: 40px;
}


header .right-side .nav-link-wrapper a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 16px;
  font-family: 'Viga', sans-serif;
}
  
  
/* =================================imagne de termino======================= */
.info-wrapper {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.info-img-container {
  flex: 1;
  min-width: 300px;
  height: auto;
  overflow: hidden;
}

.info-img-container img {
  width: 90%;
  height: 100%;
  object-fit: cover;
  margin-left: 60px;
  padding: 30px;
}

.info-text-container {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-green-title {
  color: #2e8b57;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 300px;

}

.info-main-title {
  font-size: 2.5rem;

  color: #333;
  font-weight: normal;
  margin-top: -270px;
  margin-bottom: 20px;
}

.info-paragraph {
  color: #555;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 305px;
}

.info-section {
  display: flex;
  align-items: flex-start;
  margin-bottom: 295px;
  padding: 10px;
  margin-left: -10px;
}

.info-section {
  margin-top: -250px;
}


.info-icon {
  font-size: 1.5rem;
  margin-right: 15px;
  width: 24px;
}

.info-section-content {
  flex: 1;
}

.info-section-title {
  font-weight: bold;
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 5px;
}

.info-section-description {
  color: #555;
  font-size: 0.9rem;
}

.info-btn {
  background-color: #2e8b57;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  align-self: flex-start;
  margin-top: -110px;
}

.info-btn:hover {
  background-color: #246b44;
}

/* Responsive */
@media (max-width: 768px) {
  .info-img-container{
    margin-left: -75px;
  }


  .info-wrapper {
      flex-direction: column;
  }

  .info-img-container {
      height: 30vh;
  }

  .info-text-container {
      padding: 30px 20px;
  }

  .subtitulo {
    font-weight: normal;
    font-size: 20px; /* Reduce ligeramente el tamaño en móviles */
    line-height: 1.2;
  }

  .seccion{
    align-items: center;
    text-align: center;
    margin-left: 80px;
  }

  .seccion h3{
    font-size: 14px;
    padding: 10px 5px;
  }
  p{
    font-family: sans-serif;
  }
 
}





/* ====================.termino-condiciones========================= */
.termino-condiciones {
    max-width: 1250px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    
}

.titulo {
    color: #4fc3f7;;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-right: 740px;
    line-height: 1.5;
   
}

.subtitulo {
    font-size: 23px;
    font-weight: bold;
    margin-top: 20px;
    line-height: 2.8;
}

.seccion {
    background-color: #33595e;
    padding: 10px;
    margin: 15px 0;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}





  /* =============================================FOOTER====================== */
  
/* =============================================FOOTER====================== */
.footer {
  background-color: #33595e;
  /* Color verde claro */
  color: #000;
  padding: 30px 0;
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.logo img {
  height: 60px;
  margin-bottom: 20px;
  border-radius: 60px;
  mix-blend-mode: multiply;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container {
  max-width: 80%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

.section {
  flex: 1 1 200px;
  margin-bottom: 20px;
}

.section h3 {
  margin-top: 0;
  font-size: 1em;
}

.section p,
.section a {
  margin: 5px 0;
  text-decoration: none;
  color: #000000;
}

.app-links img {
  height: 30px;
  margin-right: 10px;

}

.social img {
  height: 30px;
  margin-left: 10px;
}

.copyright {
  text-align: left;
  margin-top: 1px;
  font-size: 0.9em;
  border-top: 1px solid grey;
  width: 100%;
  padding-top: 10px;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .section {
    flex: 1 1 auto;
  }
}

/* Ajustes de hover para enlaces */
.section a:hover,
.app-links a:hover,
.social a:hover {
  text-decoration: underline;
  text-decoration: none;
}


.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  /* Espaciado entre columnas */

}

.contact {
  padding-right: 40px;
  border-right: 1px solid grey;
  color: white;

}


.ubicacion {
  padding-right: 40px;
  /* Igual que en .contact */
  border-right: 1px solid grey;
  padding-left: 75px;
  color: white;
  font-size: 16px;
}

.legal {
  color: white;
  font-size: 16px;
}

h3 {
  padding-right: 90px;
  font-size: 16px;
}


.contact p,
.contact a,
.ubicacion p,
.ubicacion a,
.legal p,
.legal a {
  font-size: 12px; /* Reduce el tamaño del texto */
  margin: 4px 0; /* Ajusta los márgenes para reducir el espacio */
  padding: 3px 4px; /* Ajusta el espaciado interno */
  padding-left: 10px;
  text-align: left; /* Asegura que el texto esté alineado a la izquierda */
  color: black;
}

.contact h3 {
  padding-right: 160px;
}

.legal h3 {
  padding-right: 232px;
}

.legal a {
  text-decoration: none !important;
  color: black;
}

.contact p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1px;
}


/* ============================letras que estan adentro de contcato =========== */
.contact p {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  width: 110%; 
}

.contact span {
  flex: 1; /* Hace que el texto ocupe el espacio disponible */
}

.contact p a,
.contact p span+span {
  margin-left: 10px; 
}

.contact span {
  font-weight: bold;

}

/* ============================letras que estan adentro de contcato =========== */

.icon {
  width: 19px;
  /* Tamaño pequeño */
  height: 18px;
  margin-right: 10px;
  
  vertical-align: middle;
}

.icon-social {
  width: 24px; /* Tamaño más grande para redes sociales */
  height: 14px;
  margin-right: 1px;
}

/* _______________________________________________________________________________________________ */
/* ________________________________________________________________________ */

.hero {
  background: url('') no-repeat center center/cover;
  color: white;
  text-align: center;
  padding: 100px 20px;
}


.hero-content h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 20px;
  margin-bottom: 20px;
}

.hero-content .btn {
  display: inline-block;
  background-color: #ff9800;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

/*  responsive del footer  */
@media (max-width: 768px) {
  .ubicacion {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px;
    margin-left: -75px;
  }
  
  .ubicacion  h3 {
    width: 100%; /* El título ocupa toda la línea */
    margin-bottom: 10px;
    margin-left: -50px;
  }
  
  .ubicacion  p {
    display: inline-flex;
    align-items: center;
    margin-right: 15px; /* Espacio entre los elementos */
    margin-bottom: 5px;
    font-size: 0.85rem;
  }
  
  .ubicacion .icon {
    margin-right: 5px;
    width: 14px; /* Tamaño del icono ajustado para móvil */
    height: auto;
  }

  .contact h3  {
    margin-left: -50px;
  }
  .legal h3 {
    margin-left: -50px;
  }
}
